@model IEnumerable<prjCatChaOnlineShop.AllunModels.GameProductTotal>

@{
    ViewData["Title"] = "抽卡v2";
}

<h1>抽卡v2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.PurchasedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotteryProbability)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PurchasedQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotteryProbability)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
